spring:
  datasource:
    url: ${JDBC_DATABASE_URL:jdbc:postgresql://localhost:5432/bibs-db}
    username: ${JDBC_DATABASE_USERNAME:pgadmin}
    password: ${JDBC_DATABASE_PASSWORD:P4ssword!}
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
        id:
          new_generator_mappings: true
  mail:
    host: ${SMTP_HOST:smtp.resend.com}
    username: ${SMTP_USERNAME:resend}
    password: ${SMTP_PASSWORD:<<YOUR_PASSWORD>>}
    port: 587
    properties.mail.smtp:
      auth: true
      starttls:
        enable: true
        required: true
      connectiontimeout: 15000
      timeout: 45000
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:8085/realms/bibs/protocol/openid-connect/certs
  docker:
    compose:
      lifecycle-management: start-only

error:
  handling:
    http-status-in-json-response: true
    exception-logging: NO_LOGGING
    full-stacktrace-http-statuses: 5xx
    log-levels:
      5xx: ERROR
    http-statuses:
      org.springframework.security.authorization.AuthorizationDeniedException: unauthorized
    codes:
      UserIdentitySubjectUnique: USER_IDENTITY_SUBJECT_UNIQUE
      UserEmailUnique: USER_EMAIL_UNIQUE
      ProductProductStockUnique: PRODUCT_PRODUCT_STOCK_UNIQUE
      ProductCategoryNameUnique: PRODUCT_CATEGORY_NAME_UNIQUE

management:
  endpoints:
    web:
      exposure:
        include: health,startup
  endpoint:
    health:
      show-details: always

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui
    tags-sorter: alpha
    operations-sorter: alpha
    doc-expansion: none
    oauth:
      client-id: bibs-swagger
      use-pkce-with-authorization-code-grant: true
  paths-to-match: /actuator/**, /api/**
  show-actuator: true

app:
  baseHost: ${BASE_HOST:http://localhost:3000}
  mail:
    from: info@bibs.it
    displayName: Info BIBS
